.container {
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: minmax(100px, 350px) 1fr minmax(100px, 350px);
    grid-gap: 1rem;
}

img {
    width: 100%;
}

